.featured-container {
  position: relative;
}

.featured-image {
  width: 100%;
}

.featured-title {
  bottom: 50%;
  left: 50px;
  position: absolute;
  color: #000;
}

.product-grid-container {
  margin: 20px;
  display: grid;
  justify-content: center;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
