.product-link {
  text-decoration: none;
  color: #000;
}
.product-link:hover .product-details-desc,
.product-link:hover .product-details-title {
  text-decoration: underline;
}

.product-image {
  width: 100%;
  min-height: 270px;
  max-height: 400px;
  object-fit: cover;
}
.product-details {
  display: grid;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.product-details-title {
  font-size: 20px;
}
.product-details-desc {
  font-weight: 400;
}
.product-details-price {
  font-weight: 700;
}
